---
const title = "LinkFrame";

const footerLinks = [
  { title: "", href: "" },
  { title: "", href: "" },
  { title: "", href: "" },
];

const socialLinks = [
  {
    title: "LinkedIn",
    href: "",
    svg: `<svg
          class="shrink-0 size-4"
          role="img"
          viewBox="0 0 24 24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          ><title>LinkedIn</title><path
            d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
          ></path></svg
        >`,
  },
  {
    title: "X",
    href: "",
    svg: `<svg
          class="shrink-0 size-4"
          role="img"
          viewBox="0 0 24 24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          ><title>X</title><path
            d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
          ></path></svg
        >`,
  },
  {
    title: "GitHub",
    href: "",
    svg: `<svg
          class="shrink-0 size-4"
          role="img"
          viewBox="0 0 24 24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          ><title>GitHub</title><path
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
          ></path></svg
        >`,
  },
];
---

<!-- <footer class="mt-10 w-full max-w-[85rem] pt-10 pb-16 lg:pb-10 px-4 sm:px-6 lg:px-8 mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-5">
    <div>
      <a
        class="flex-none text-xl font-semibold text-slate-700 focus:outline-none"
        href="/"
        aria-label="Brand">{title}</a
      >
    </div>

    <ul class="text-center">
      {
        footerLinks.map((link) => (
          <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:content-['/'] before:text-slate-300">
            <a
              class="inline-flex transition duration-300 gap-x-2 text-slate-500 hover:text-slate-800 focus:outline-none focus:text-slate-800"
              href={link.href}
              target="_blank"
            >
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>

    <div class="md:text-end space-x-2">
      {
        socialLinks.map((social) => (
          <a
            class="size-8 transition duration-300 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-slate-500 hover:bg-slate-50 focus:outline-none focus:bg-slate-50 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
            href={social.href}
            target="_blank"
            aria-label={social.title}
          >
            <Fragment set:html={social.svg} />
          </a>
        ))
      }
    </div>
  </div>
</footer> -->

<footer class="pb-10">
    <div class="w-full max-w-5xl px-4 xl:px-0 py-10 lg:pt-16 mx-auto">
      <div class="inline-flex items-center">

        <a href="https://www.sobstvennoai.dev/"
        target="_blank"
        aria-label="Visit sobstvennoAI"
        >
        <svg class="size-8" width="550" height="550" viewBox="0 0 550 550" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_622_1272)">
          <path d="M115 0H435C465.5 0 494.751 12.116 516.317 33.6827C537.884 55.2494 550 84.5001 550 115V435C550 465.5 537.884 494.751 516.317 516.317C494.751 537.884 465.5 550 435 550H115C84.5001 550 55.2494 537.884 33.6827 516.317C12.116 494.751 0 465.5 0 435L0 115C0 84.5001 12.116 55.2494 33.6827 33.6827C55.2494 12.116 84.5001 0 115 0Z" fill="#F3F3F3"/>
          <mask id="mask0_622_1272" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="28" y="-5" width="593" height="618">
          <path d="M43.4111 9.09186H506.588V540.908H43.4111V9.09186ZM612.771 161.452L321.657 607.508L329.147 612.397L620.261 166.34L612.771 161.452ZM450.945 62.9869L167.269 513.81L174.84 518.574L458.516 67.7499L450.945 62.9869ZM215.063 0.690855L507.693 445.754L515.167 440.84L222.537 -4.22314L215.063 0.690855ZM28.6191 156.218L396.099 541.798L402.575 535.627L35.0951 150.047L28.6191 156.218ZM325.014 9.79786L90.9231 488.25L98.9571 492.18L333.047 13.7299L325.014 9.79786Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_622_1272)">
          <path d="M501.589 145.647L500.318 406.555L273.729 535.908L48.4121 404.353L49.6841 143.445L276.272 14.0918L501.589 145.647Z" fill="#303841"/>
          </g>
          </g>
          <defs>
          <clipPath id="clip0_622_1272">
          <rect width="550" height="550" fill="white"/>
          </clipPath>
          </defs>
          </svg>
          </a>
        <div class="border-s border-slate-500 ps-5 ms-5">
          <p class="text-sm text-slate-400">
            © 2024 LinkFrame.
          </p>
        </div>
      </div>
  </div>
</footer>